@page "/puzzle/{name}"
@using SL.Shared
@using SL.Shared.Structures
@inject NavigationManager NavigationManager

<PageTitle>Puzzle</PageTitle>

@if (Error != null)
{
    <p><em>@Error</em></p>
}
else if (_game == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@Name</h1>

    <button class="btn btn-primary" @onclick="Reset">Reset</button>
    <button class="btn btn-primary" @onclick="Solve">Solve</button>

    var board = _game.Board;

        <table cellpadding="0" cellspacing="0">
        <tbody>

            @for (var r = 0; r <= board.Rows; r++)
            {
                <tr>
                    @{/* Line above */}
                    @for (int c = 0; c < board.Columns; c++)
                    {
                        var junction = board.GetJunction(r, c);
                        var north = junction.Edges[Direction.North];
                        var east = junction.Edges[Direction.East];
                        var south = junction.Edges[Direction.South];
                        var west = junction.Edges[Direction.West];

                        <td align="center" width="20" >
                            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="50" cy="50" r="10" fill="black" />
                                @if (north?.HasLine == true)
                                {
                                    <line x1="50" y1="50" x2="50" y2="0" stroke="black" stroke-width="8" />
                                }
                                @if (east?.HasLine == true)
                                {
                                    <line x1="50" y1="50" x2="100" y2="50" stroke="black" stroke-width="8" />
                                }
                                @if (south?.HasLine == true)
                                {
                                    <line x1="50" y1="50" x2="50" y2="100" stroke="black" stroke-width="8" />
                                }
                                @if (west?.HasLine == true)
                                {
                                    <line x1="50" y1="50" x2="0" y2="50" stroke="black" stroke-width="8" />
                                }
                            </svg>
                        </td>
                        <td align="center" width="20">
                            @switch (east.HasLine)
                            {
                                case null:
                                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                        <line x1="0" y1="50" x2="100" y2="50" stroke="black" stroke-width="8" stroke-dasharray="5 10"/>
                                    </svg>
                                    break;
                                case true:
                                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                        <line x1="0" y1="50" x2="100" y2="50" stroke="black" stroke-width="8" />
                                    </svg>
                                    break;
                                case false:
                                    <div>x</div>
                                    break;
                            }
                        </td>

                        if (c == board.Columns - 1)
                        {
                            junction = board.GetJunction(r, c + 1);
                            north = junction.Edges[Direction.North];
                            south = junction.Edges[Direction.South];
                            west = junction.Edges[Direction.West];
                            <td align="center" width="20">
                                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="50" cy="50" r="10" />
                                    @if (north?.HasLine == true)
                                    {
                                        <line x1="50" y1="50" x2="50" y2="0" stroke="black" stroke-width="8" />
                                    }
                                    @if (south?.HasLine == true)
                                    {
                                        <line x1="50" y1="50" x2="50" y2="100" stroke="black" stroke-width="8" />
                                    }
                                    @if (west?.HasLine == true)
                                    {
                                        <line x1="50" y1="50" x2="0" y2="50" stroke="black" stroke-width="8" />
                                    }
                                </svg>
                            </td>
                        }
                    }

                </tr>
                <tr>

                @{/* West line, hint, East line */}
                @for (int c = 0; c < board.Columns && r < board.Rows; c++)
                {
                    var cell = board[r, c];

                    var edge = cell.Edges[Direction.West];
                    <td align="center">
                        @switch (edge.HasLine)
                        {
                            case null:
                                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <line x1="50" y1="0" x2="50" y2="100" stroke="black" stroke-width="8" stroke-dasharray="5 10"/>
                                </svg>
                                break;
                            case true:
                                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <line x1="50" y1="0" x2="50" y2="100" stroke="black" stroke-width="8" />
                                </svg>
                                break;
                            case false:
                                <div>x</div>
                                break;
                        }
                    </td>

                    <td align="center"> @(cell.Hint?.ToString())</td>


                    // if it's the last column, east line
                    if (c == board.Columns - 1)
                    {
                        edge = cell.Edges[Direction.East];

                        <td align="center">
                            @switch (edge.HasLine)
                            {
                                case null:
                                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                        <line x1="50" y1="0" x2="50" y2="100" stroke="black" stroke-width="8" stroke-dasharray="5 10"/>
                                    </svg>
                                    break;
                                case true:
                                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                        <line x1="50" y1="0" x2="50" y2="100" stroke="black" stroke-width="8" />
                                    </svg>
                                    break;
                                case false:
                                    <div>x</div>
                                    break;
                            }
                        </td>
                    }
                }

                </tr>
            }
        </tbody>
    </table>
}

@code {
    // 👇 The value is set from the query string
    [Parameter]
    public string Name { get; set; }

    public string Error { get; set; }

    private Game? _game;

    protected override async Task OnInitializedAsync()
    {
        Reset();
    }

    public void Solve()
    {
        Solver.Solve(_game);
    }

    public void Reset()
    {
        // TODO: Only accept names with alphanumerics
        if (!string.IsNullOrEmpty(Name))
        {
            try
            {
                _game = new Game(GameLoader.ReadCsv(new StreamReader(@"..\" + Name + ".csv")));
            }
            catch (Exception ex)
            {
                Error = ex.ToString();
            }
        }
        else
        {
            Error = "No puzzle selected.";
        }
    }
}